<div>
    <body>
      <div class="panel">
        <h2 class="txt-2">Carreras</h2>
  
        <form (submit)="crearPeriodo()">
          <div>
            <label for="mesInicio">Mes Inicio:</label>
            <input type="text" id="mesInicio" name="mesinicio" required autocomplete="off" 
            [(ngModel)]="periodoEdicion.periodo_mes_inicio">
          </div>
  
          <div>
            <label for="mesFin">Mes Fin:</label>
            <input type="number" id="mesFin" name="mesfin" placeholder="Ingrese las modalidad" 
            [(ngModel)]="periodoEdicion.periodo_mes_fin">
          </div>

          <div>
            <label for="añoInicio">Año Inicio:</label>
            <input type="text" [(ngModel)]="periodoEdicion.periodo_anio_inicio">
          </div> 
  
          <div>
            <label for="añoFin">Año Fin:</label>
            <input type="text" [(ngModel)]="periodoEdicion.periodo_anio_fin">
          </div>
  
          <div>
            <button type="submit">Enviar</button>
            <button type="button" class="cancel" routerLink="/listar-periodo">Cancelar</button>
          </div>
        </form>
      </div>
    </body>
  </div>
  