.navbar {
  width: 100%;
  padding: 6px 100px;
  background-color: #46adfa;
}
.navbar-collapse {
  /* color: white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 220px;
}
.navbar-nav {
  margin-right: 220px;
}
  .navbar-white,
  .btn {
    background-color: #ffffff; /* Cambiar el color de fondo a blanco */
  }

  .navbar-brand {
    font-family: 'Avenir', 'Avenir Next', sans-serif;
    color: #ffffff; /* Cambiar el color del texto a blanco */
  }

  .navbar-nav .nav-link {
    font-family: "TuFuente", sans-serif; /* Cambiar la fuente de los enlaces de navegación */
    color: #ffffff; /* Cambiar el color del texto a blanco */
  }
