<style>
  /* Estilo para la barra de navegación */
  .navbar-white,
  .btn {
    background-color: #ffffff; /* Cambiar el color de fondo a blanco */
  }

  /* Estilo para la marca de navegación */
  .navbar-brand {
    font-family: "TuFuente", sans-serif; /* Cambiar la fuente de la marca de navegación */
    color: #ffffff; /* Cambiar el color del texto a blanco */
  }

  /* Estilo para los enlaces de navegación */
  .navbar-nav .nav-link {
    font-family: "TuFuente", sans-serif; /* Cambiar la fuente de los enlaces de navegación */
    color: #ffffff; /* Cambiar el color del texto a blanco */
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 24 24"
      style="fill: rgb(255, 255, 255); transform: 0"
    >
      <path
        d="M12.71 2.29a1 1 0 0 0-1.42 0l-9 9a1 1 0 0 0 0 1.42A1 1 0 0 0 3 13h1v7a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7h1a1 1 0 0 0 1-1 1 1 0 0 0-.29-.71zM6 20v-9.59l6-6 6 6V20z"
      ></path>
    </svg>
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Docentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Periodos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Materias</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      /> -->
      <button class="btn my-2 my-sm-0" type="submit">Perfil</button>
    </form>
  </div>
</nav>
