/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #46adfa; /* Color de fondo del pie de página */
  color: #fff; /* Color del texto en el pie de página */
  text-align: center;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.texto_footer {
  font-family: "Avenir", "Avenir Next", sans-serif;
}

.texto-1 {
  margin: 0;
  font-size: 14px;
}
