footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* footer */
.texto_footer {
  width: 100%;
  height: 50px;
  background-color: #46adfa;
  padding: 5px 0;
  text-align: center;
  color: black;
}
.texto-1 {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
