@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*Estilos formulario */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* estilos de las tablas */
.center-container {
  padding-top: 50px;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
.inputs button {
  width: 130px;
  height: 35px;
  margin-top: 20px;
  margin-right: 30px;
  border: 0;
}
.btn1 {
  background-color: #46adfa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn2{
  background-color: #e70027;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.inputs input {
  width: 300px;
  height: 35px;
  padding: 5px;
}
table {
  margin-top: 20px;
  width: 100%;
  /* height: 100vh; */
  text-align: center;
  border: 1px solid black;
}
th,
tr,
thead,
tbody,
td {
  border: 1px solid black;
}
.fila {
  background-color: #46adfa;
  height: 35px;
}
tbody {
  height: 35px;
}

/*Estilos formulario */
.formulario {
  margin: auto;
  margin-top: 70px;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.titulo_formulario {
  /* background-color: rgb(156, 214, 156); */
  color: black;
  font-size: 15px;
  padding: 30px;
  text-align: center;
}
.contenedor_formulario {
  padding: 40px;
}
.form-control {
  width: 320px;
  padding: 8px;
  margin-bottom: 30px;
}
.btn1 {
  width: 120px;
  padding: 8px;
  margin-bottom: 10px;
}
.btn1 {
  margin-right: 28px;
}
.btn2 {
  width: 160px;
  padding: 8px;
  margin-bottom: 15px;
}

.texto_formulario {
  text-align: center;
}
.enlace_formulario {
  text-decoration: none;
}