body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
}

.button-container {
    display: flex;
    
    margin-bottom: 20px;
}

.button1 {
    background-color: #46adfa ; /* Verde */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.button2 {
    background-color: #e70027  ; /* Verde */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.persona-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.persona-table th, .persona-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.persona-table th {
    background-color: #46adfa;
    color: #333;
}

.persona-table tbody tr:hover {
    background-color: #f5f5f5;
}
