<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Personas</title>
  <link rel="stylesheet" href="persona.component.css">
</head>
<app-header></app-header>
<app-menudesp></app-menudesp>
<body>

  <h2>Lista de Personas</h2>
  <div class="button-container">  <!-- Botones -->
    <button class="button1" routerLink="/crearpersona">Crear </button>
    <button class="button2" routerLink="/añadir ruta">eliminar</button>
    <input class="buscar" type="buscar" class="box" placeholder="Buscar" />

  </div>

  <table class="persona-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cédula</th>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>actualizar</th>
        <th>eliminar</th>
        <!-- Puedes agregar más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <!-- Aquí irán las filas de la tabla con datos de personas -->
      <tr *ngFor="let persona of personas">
        <td>{{ persona.per_id }}</td>
        <td>{{ persona.per_cedula }}</td>
        <td>{{ persona.per_primer_nombre }}</td>
        <td>{{ persona.per_segundo_nombre }}</td>
        <td>{{ persona.per_apellido_paterno }}</td>
        <td>{{ persona.per_apellido_materno }}</td>
        <td>{{ persona.per_telefono }}</td>
        <td>{{ persona.per_email }}</td>


       
        <td>
          <button style="border: none; background: transparent;" (click)="abrirModalActualizar(persona)">
            <i class="fas fa-pencil-alt"></i>
          </button> 
        </td>
        <td>
          <button style="border: none; background: transparent;" (click)="eliminarPer(persona.per_id)">
            <i class="fas fa-trash-alt"></i> <!-- Ícono de eliminar -->
          </button>
    </tbody>
  </table>
</body>
<app-footer></app-footer>
</html>
