<body>
  <div>
    <!-- Formulario -->
    <form class="formulario">
      <fieldset>
        <legend class="titulo_formulario">Crear Rol</legend>
        <div class="contenedor_formulario">
          <div class="mb-3">
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Nombre"
            />
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Descripción"
            />
          </div>

          <button type="submit" class="btn1 btn btn-primary">Registrar</button>
          <button type="submit" class="btn2 btn btn-danger">Cancelar</button>
        </div>
      </fieldset>
    </form>
  </div>

  <footer>
    <div class="texto_footer">
      <p class="texto-1">Tecnológico del Azuay</p>
      <p class="texto-1">Instituto Universitario</p>
    </div>
  </footer>
</body>
