<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edgm" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <app-header></app-header>
    <app-menudesp></app-menudesp>
    <div class="center-container">
      <p class="txt-2">Listado de Jornada</p>

      <div class="inputs">
        <button class="button1" routerLink="/crearjornada">Crear</button>
        <button class="button1">Editar</button>
        <button class="button2">Eliminar</button>
        <input class="buscar" type="buscar" class="box" placeholder="Buscar" />
      </div>

      <table>
        <thead>
          <tr class="fila">
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Matutina</td>
            <td>Control de todo el sistema</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>Nocturna</td>
            <td>Control de todo el sistema</td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-footer></app-footer>
  </body>
</html>
