<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="crear-usuario.component.css">
    <title>Crear Usuario</title>
</head>
<app-header> </app-header>
<app-menudesp></app-menudesp>
<body>
    <div class="form-container">
        <h2>Crear Usuario</h2>
        <form id="create-user-form">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="personId">ID Persona:</label>
            <select id="personId" name="personId" required>
                <!-- Opciones para ID Persona -->
                <option value="1">Persona 1</option>
                <option value="2">Persona 2</option>
                <option value="3">Persona 3</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>

            <label for="roleId">ID Rol:</label>
            <select id="roleId" name="roleId" required>
                <!-- Opciones para ID Rol -->
                <option value="1">Rol 1</option>
                <option value="2">Rol 2</option>
                <option value="3">Rol 3</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>

            <div class="button-container">
                <button type="submit" class="create-button">Crear</button>
                <button  class="cancel-button" routerLink="/usuario">Cancelar</button>
            </div>
        </form>
    </div>
</body>
<app-footer></app-footer>
</html>
