footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #46adfa;
  }
  .button1,
.button2 {
    width: 80px; /* Ajusta el ancho según sea necesario */
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button1 {
    background-color: #46adfa; /* Verde */
    color: #fff;
}

.button2 {
    background-color: #e70027; /* Rojo */
    color: #fff;
}

 
  
 