<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuarios</title>
  <link rel="stylesheet" href="usuario.component.css">

</head>
<h2>Lista de Usuarios</h2>

<app-header></app-header>
<app-menudesp></app-menudesp>
<div class="button-container">  <!-- Botones -->
  <button class="button1" routerLink="/crearUsuario">crear</button>
  <button class="button2" routerLink="/añadir rutas">Eliminar</button>
  <input class="buscar" type="buscar" class="box" placeholder="Buscar" />

</div>
<body>

 

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>ID Persona</th>
        <th>ID Rol</th>
        <th>actualizar</th>
        <th>eliminar</th>
        <!-- Puedes agregar más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <!-- Aquí irán las filas de la tabla con datos de usuarios -->
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.usu_id }}</td>
        <td>{{ usuario.usu_usuario }}</td>
        <td>{{ usuario.usu_contrasena }}</td>
        <td>{{ usuario.per_id }}</td>
        <td>{{ usuario.rol_id }}</td>
        <td>
        <button style="border: none; background: transparent;" (click)="arirModalActualizar(usuario)">
          <i class="fas fa-pencil-alt"></i>
        </button> 
      </td>
      <td>
    </tr>
      <!-- Puedes agregar más filas según tus necesidades -->
    </tbody>
  </table>
  


</body>
<app-footer></app-footer>

</html>
