<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuarios</title>
  <link rel="stylesheet" href="usuario.component.css">
</head>
<app-header></app-header>
<app-menudesp></app-menudesp>
<body>

  <h2>Lista de Usuarios</h2>
  <div class="button-container">  <!-- Botones -->
    <button class="button1" routerLink="/crearUsuario">crear</button>
  <button onclick="modificarUsuario()">Modificar Usuario</button>
  <button onclick="eliminarUsuario()">Eliminar Usuario</button>
</div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>ID Persona</th>
        <th>ID Rol</th>
        <!-- Puedes agregar más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <!-- Aquí irán las filas de la tabla con datos de usuarios -->
      <tr>
        <td>1</td>
        <td>Usuario1</td>
        <td>contraseña1</td>
        <td>1</td>
        <td>2</td>
        <!-- Puedes agregar más celdas con datos de usuarios -->
      </tr>
      <!-- Puedes agregar más filas según tus necesidades -->
    </tbody>
  </table>
  


</body>
<app-footer></app-footer>

</html>
