<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css" />
</head>
<body>
  <div class="container">
    <div class="info">
      <p class="txt-1"></p>
    </div>
    <form class="form" (submit)="redirectToSistemaAdministrativo()">
      <h2>Bienvenido</h2>

      <p class="txt-2">Sistema Gestion Administrativa</p>
      <div class="inputs">
        <input type="email" class="box" placeholder="Ingresa tu correo" />
        <input type="password" class="box" placeholder="Ingresa tu contraseña" />
        <a routerLink="/persona">Iniciar Sesión</a>

        <a routerLink="/recuperacion-contrasena">¿Olvidaste tu Contraseña?</a>
      </div>
    </form>
  </div>
</body>
</html>
