<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Iniciar Sesión</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.component.css">
  <meta name="robots" content="noindex, follow">
</head>
<body>
  <div class="wrapper">
    <div class="inner">
      <div class="image-holder">
        <img src="assets/tec_azuay.png" alt="Logo de la aplicación">
      </div>
      <form class="form" (submit)="redirectToSistemaAdministrativo()">
        <h2>Bienvenido</h2>
        <p class="txt-2">Sistema Gestión Administrativa</p>
        <div class="inputs">
          <input type="email" class="box" placeholder="Ingresa tu correo" />
          <input type="password" class="box" placeholder="Ingresa tu contraseña" />
          <button type="submit">Iniciar Sesión</button>
          <a id="forgot-password" href="/recuperacion-contrasena">¿Olvidaste tu Contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>