@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Estilos generales */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Estilos de las tablas */
.center-container {
  padding-top: 50px;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

.inputs button {
  width: 130px;
  height: 35px;
  margin-top: 20px;
  margin-right: 30px;
  border: 0;
}

.button1 {
  background-color: #46adfa;
  border-radius: 5px;
}

.button2 {
  background-color: #e70027;
  border-radius: 5px;
}

.inputs input {
  width: 300px;
  height: 35px;
  padding: 5px;
}

table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

th,
tr,
thead,
tbody,
td {
  border: 1px solid black;
}

.fila {
  background-color: #46adfa;
  height: 35px;
}

tbody {
  height: 35px;
}

/* Estilos del formulario */

.formulario {
  margin: auto;
  margin-top: 40px;
  width: 400px;
  height: 400px;
  border: 2px solid black; /* Borde más grueso */
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo_formulario {
  color: black;
  font-size: 20px; /* Tamaño del título más grande */
  font-weight: bold; /* Texto en negrita */
  text-align: center;
  margin-bottom: 20px; /* Espacio debajo del título */
}

.contenedor_formulario {
  padding: 20px; /* Ajusta el espacio interno del contenedor */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre elementos internos */
}

.form-control {
  width: 80%; /* Ajusta el ancho del campo de entrada */
  padding: 8px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px; /* Ajusta el margen derecho del campo de entrada */
}

.btn {
  width: 80%; /* Ajusta el ancho de los botones */
  padding: 8px;
  margin-bottom: 10px;
}

.btn2 {
  width: 80%; /* Ajusta el ancho del botón Cancelar */
  padding: 8px;
  margin-bottom: 10px;
}
/*titulo texto entrada*/
.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre el bloque y el siguiente elemento */
}

.form-label {
  font-size: 16px; /* Tamaño de la etiqueta */
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
}

.form-control {
  width: 80%; /* Ajusta el ancho del campo de entrada */
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px; /* Ajusta el margen derecho del campo de entrada */
}

