<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="docente.component.css">
    <title>Docentes</title>
</head>
<app-header></app-header>
<app-menudesp></app-menudesp>
<body>
  

    <div class="table-container">
        
        <h2>Docentes</h2>
        <div class="button-container">
            <button class="create-button">Crear</button>
            <button class="delete-button">Eliminar</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Docente ID</th>
                    <th>Fecha de Ingreso</th>
                    <th>Estado</th>
                    <th>Período ID</th>
                    <th>Tipo ID</th>
                    <th>Cargo ID</th>
                    <th>Título ID</th>
                    <th>Periodo ID</th>
                    <th>Grado ID</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se cargarán los datos de la tabla -->
                <tr>
                    <td>1</td>
                    <td>2022-01-01</td>
                    <td>Activo</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <!-- Puedes agregar más filas según tus necesidades -->
            </tbody>
        </table>
    </div>
</body>
<app-footer></app-footer>
</html>
