<div>
    <app-header></app-header>
    <app-menudesp></app-menudesp>

    <body>

        <div class="center-container">
            <p class="txt-2">Listado de Actividades Extras</p>

            <div class="inputs">
                <button routerLink="/extra-actividades">Crear</button>
                <button>Editar</button>
                <input type="text" class="box" placeholder="Buscar" />
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Nombre Proyecto Vinculación</th>
                        <th>Horas Investigación</th>
                        <th>Gestión Académica</th>
                        <th>Horas Gestión Semanal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Proyecto 1</td>
                        <td>10</td>
                        <td>Gestión 1</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Proyecto 2</td>
                        <td>8</td>
                        <td>Gestión 2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </body>

    <app-footer></app-footer>
</div>