body {
    font-family: 'Avenir', 'Avenir Next', sans-serif;
    margin: 0;
    padding: 0;
}

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #46adfa;
    padding: 5px;
    width: 150px; 

}

.menu-button {
    background-color: #46adfa;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: none;
    background-color: #46adfa;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
}

.menu-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.menu-item:hover {
    background-color: #ccc;
}

.menu-container:hover .menu-list {
    display: flex;
    flex-direction: column;
}
