<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menudesp.component.css">
    <title>Menú Desplegable Lateral</title>
</head>
<body>
    <div class="menu-container">
        <button class="menu-button">Menú</button>
        <div class="menu-list">
            <div class="menu-item" routerLink="/persona">Personas</div>    

            <div class="menu-item" routerLink="/roles">Roles</div>          
            <div class="menu-item" routerLink="/usuario">Usuarios</div>    
            <div class="menu-item" routerLink="/titulo">Titulo</div>    
            <div class="menu-item" routerLink="/tipocontrato">Tipo de Contrato</div>    

            <div class="menu-item" routerLink="/gradoOcu">Grado Ocupacional</div>
            <!-- Puedes agregar más opciones según sea necesario -->
        </div>
    </div>
</body>
</html>

