<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="crear-titulo.component.css">
    <title>Formulario de Título</title>
</head>
<body>
    <app-header></app-header>
  <app-menudesp></app-menudesp>
  <div class="container">
    <!-- Formulario -->
    <form class="formulario" (ngSubmit)="creartitulo()">
      <fieldset>
        <legend class="titulo_formulario"> crear titulo</legend>
        <div class="contenedor_formulario">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre titulo:</label>
            <input type="text" [(ngModel)]="nuevoTitu.titulo_nombre" name="titulo_nombre" required class="form-control">
          </div>
          
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Registrar
          </button>
          <!-- Cambia el tipo de botón de submit a button para evitar enviar el formulario al presionar Cancelar -->
          <button type="button" class="btn btn-danger" (click)="cancelar()">
            <i class="fa fa-times"></i> Cancelar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <app-footer></app-footer>
</body>
</html>
