body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.grado-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}



.crear-button,
.eliminar-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.crear-button {
    background-color: #4caf50; /* Verde */
    color: #fff;
}

.eliminar-button {
    background-color: #e70027; /* Rojo */
    color: #fff;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #46adfa ;
    color: #fff;
}
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

.editar-button,
.eliminar-fila-button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editar-button {
    background-color: #007bff; /* Azul */
    color: #fff;
    margin-right: 5px;
}

.eliminar-fila-button {
    background-color: #e70027; /* Rojo */
    color: #fff;
    margin-left: 5px;
}
