<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="crear-cargo.component.css">
    <title>Formulario de Cargo</title>
</head>
<app-header> </app-header>
<app-menudesp></app-menudesp>
<body>
    <div class="form-container">
        <h2>Crear Nuevo Cargo</h2>
        <form id="create-cargo-form">
            <label for="cargoNombre">Nombre del Cargo:</label>
            <input type="text" id="cargoNombre" name="cargoNombre" required>

            <label for="cargoDescripcion">Descripción del Cargo:</label>
            <textarea id="cargoDescripcion" name="cargoDescripcion" rows="4" required></textarea>

            <div class="button-container">
                <button type="submit" class="create-button">Crear</button>
                <button  class="cancel-button" routerLink="/cargo">Cancelar</button>
            </div>
        </form>
    </div>
</body>
<app-footer></app-footer>
</html>
