<div class="contenedor">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"
        ><img class="imagen_header" src="../assets/Capa 2.png" alt=""
      /></a>

      <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">
          Iniciar Sesión
        </button>
        <button class="btn btn-outline-success" type="submit">
          Registrarse
        </button>
      </form>
    </div>
  </nav>

  <!-- Cuerpo -->
  <div class="body">
    <h1 class="titulo_body">
      Sistema de Inventario de Flujos de Bienes Activos
    </h1>
    <h2 class="titulo2_body">FIBADI</h2>
    <img class="imagen_body" src="../../assets/tec_azuay.png" alt="" />
  </div>
  <!-- Footer -->
  <footer class="footer">
    <div class="texto_footer">
      <p class="texto-1">Tecnólogico del Azuay</p>

      <p class="texto-2">Instituto Universitario</p>
    </div>
  </footer>
</div>
