<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edgm" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="roles.component.css" />
  </head>
  <body>
    <div class="center-container">
      <p class="txt-2">Listado de Roles</p>

      <div class="inputs">
        <button class="button1" routerLink="/crear-rol">Editar</button>
        <button class="button2">Eliminar</button>
        <input class="buscar" type="buscar" class="box" placeholder="Buscar" />
      </div>

      <table>
        <thead>
          <tr class="fila">
            <th>Id Rol</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>Administrador</td>
            <td>Control de todo el sistema</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>02</td>
            <td>Super-Administrador</td>
            <td>Control de todo el sistema</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
