<body>
  <app-header></app-header>
  <app-menudesp></app-menudesp>
  <div>
    <!-- Formulario -->
    <form class="formulario">
      <!-- <fieldset disabled></fieldset> -->
      <fieldset>
        <legend class="titulo_formulario">Crear Curso</legend>
        <div class="contenedor_formulario">
          <div class="mb-3">
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Nombre"
            />
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Seleccione Jornada"
            />
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Seleccione Paralelo"
            />
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Seleccione Carrera"
            />
            <input
              type="text"
              id="disabledTextInput"
              class="form-control"
              placeholder="Seleccione Periodo"
            />
          </div>

          <button type="submit" class="btn1 btn btn-primary">Registrar</button>
          <button type="submit" class="btn2 btn btn-danger">Cancelar</button>
        </div>
      </fieldset>
    </form>
  </div>

  <app-footer></app-footer>
</body>
