<p>listar-actividades-docentes works!</p>
<div>
    <app-header></app-header>
    <app-menudesp></app-menudesp>
  
    <body>

        <div class="center-container">
          <p class="txt-2">Listado de Actividades Docentes</p>
      
          <div class="inputs">
            <button routerLink="/actividades-docente">Crear</button>
            <button>Editar</button>
            <input type="text" class="box" placeholder="Buscar" />
          </div>
      
          <table>
            <thead>
              <tr>
                <th>Horas Docencia</th>
                <th>Nombre Actividad</th>
                <th>Asignatura</th>
                <th>Actividades Extra</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10</td>
                <td>Investigación en Informática</td>
                <td>Tendencias Actuales de Programación</td>
                <td>AVANZAR</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Proyecto de Desarrollo Web</td>
                <td>Fundamentos de Redes y Conectividad</td>
                <td>FAAN</td>
              </tr>
            </tbody>
          </table>

        </div>
      </body>
  
    <app-footer></app-footer>
  </div>
  