<div>
    <app-header></app-header>
    <app-menudesp></app-menudesp>
  
    <body>
      <div class="panel">
        <h2 class="txt-2">Actividades Docentes</h2>
  
        <form>
          <div>
            <label for="horasDocencia">Horas Docencia:</label>
            <input type="number" id="horasDocencia" name="horasDocencia" placeholder="Ingrese las horas de docencia">
          </div>
  
          <div>
            <label for="nombreActividad">Nombre Actividad:</label>
            <input type="text" id="nombreActividad" name="nombreActividad" placeholder="Ingrese el nombre de la actividad">
          </div>
  
          <div>
            <label for="asignatura">Asignatura:</label>
            <select id="asignatura" name="asignatura">
              <option value="" disabled selected>Seleccione una asignatura</option>
              <option value="asignatura1">Tendencias Actuales de Programación</option>
              <option value="asignatura2">Fundamentos de Redes y Conectividad</option>
              <option value="asignatura3">Ética Profesional</option>
            </select>
          </div>
  
          <div>
            <label for="actividadesExtra">Actividades Extra:</label>
            <select id="actividadesExtra" name="actividadesExtra">
              <option value="" disabled selected>Seleccione una actividad extra</option>
              <option value="extra1">AVANZAR</option>
              <option value="extra2">FAAN</option>
              <option value="extra3">Vinculacion Sociedad</option>
            </select>
          </div>
  
          <div>
            <button type="submit">Enviar</button>
            <button type="button" class="cancel" routerLink="/listar-actividades-docentes">Cancelar</button>
          </div>
        </form>
      </div>
    </body>
  
    <app-footer></app-footer>
  </div>
  