<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu Título</title>
  </head>
  <body>
    <app-header></app-header>
    <app-menudesp></app-menudesp>
    <div class="content">
      <h1>Actividades Principales</h1>
      <div class="menu-container">
        <button class="button" routerLink="/actividades-no-docente">Actividades No Docentes</button>
        <button class="button" routerLink="/actividades-docente">Actividades Docentes</button>
        <button class="button" routerLink="/extra-actividades">Extra Actividades</button>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
